body, html {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  background: rgba(128, 128, 128, 0.19);
  height: 100%;
  &--body {
    height: 100%;
    @media only screen and (min-width: 1024px) {
      display: flex;
      .filters {
        width: 20%;
      }
    
      .body {
        width: 80%;
      }
    }
    
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  background-color: darkblue;
  color: white;
}
